/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2021, 10:21:02 AM
    Author     : kaylee
*/

/* -------- GLOBAL STYLES -------- */

html {
    background-color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Adam', sans-serif;
    color: white;
    text-align: center;
}